/* General rules */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        font-family: 'Open Sans', sans-serif;
        font-size: 0.8em;
    }
    li{
        list-style: none;
    }


    .block{
        display: block;
    }

    .grey-color{
        color: #b5aaa1;
    }
    h3{
        font-size: 1.5em;
    }
    h2{
        font-size: 2.7em;
        font-weight: 700;
    }
    h4{
        font-size: 1.2em;
    }

/* Utility class */


    .flex-column{
        display: flex;
        flex-direction: column;
    }

    .pos-relative{
        position: relative;
    }
    .centered-foot-jumb{
        width: 65vw;
        margin: 0 auto;
    }
    .centered-main{
        width: 55vw;
        margin: 0 auto;
    }


/* Hover rules */

.faqs div:hover .faqs p{
    display: block;
    background-color: red;
}











/* Button rules */

.btn-blue{
background-color:#0061ff ;
color: #fff;
width: fit-content;
text-align: center;
}

.btn-white{
    border: 1px solid #000;
    width: fit-content;
    text-align: center;
    background-color: #fff;
}

.btn-small-padd{
    padding: 10px 20px;
}
.btn-big{
    width: 100%;
    padding: 10px 0;
}

/* Header rules */

header{
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: #fff;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header-left, .header-right{
    display: flex;
    gap: 10px;
    padding: 0 20px;
    align-items: center;
}
header ul{
    display: flex;
    padding: 15px;
}
header li{
    padding: 0 10px;
}

/* jumbotron rules */

.jumbotron-container{
    background-color: #b4d0e7;
    height: 700px;
}
.jumbotron{
    padding-top: 150px;
}
h1{
    font-size: 5em;
    margin-bottom: 40px;
    font-weight: 900;
}
.jumbotron-col{
    display: flex;
    justify-content: space-between;
}
.jumbotron-left{
    flex-basis: 30%;
    gap: 20px;
}
.jumbotron-left i{
    margin-top: 40px;
}
.jumbotron-col div:nth-child(2){
    flex-basis: 70%;
}
.jumbotron img{
    width: 100%;
}

.jumbotron i{
    font-size: 3em;
}




/* main rules */





/* Business plan rules */


.plan-container{
    margin-top: 150px;
}
.plan-container h2{
    margin-bottom: 40px;
}
.plan-container i{
    margin-right: 5px;
}
.billing{
    margin-right: 50px;
}
.table-business-plan{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.col{
    margin:50px 0;
    flex-basis: calc(100%/3);
}
.table-border-gray{
    border: 1px #b5aaa1 solid;
}

/* Table business rules */

    .col-title{
        border-bottom: 1px #b5aaa1 solid;
        padding: 10px;
        text-align: center;
    }
    .table-cont{
        width: 80%;
        margin: 0 auto;
        padding: 20px 0;
    }
    .table-border-gray h3{
        margin-bottom: 25px;
    }
    .table-cont .price{
        margin-bottom: 10px;
    }
    .table-cont .frequency{
        margin-bottom: 40px;
    }
    .cont-mini-table{
        margin: 30px -5px;
    }
    .mini-table{
        margin-bottom: 15px;
    }
    .table-cont > p{
        margin: 30px 0;
    }
    .table-cont hr{
        width: 25%;
        border:none;
        border-bottom: 2px #b5aaa1 solid;
    }
    .table-border-gray h5{
        margin-bottom: 20px;
        font-size: 1em;
    }
    .mini-table{
        display: flex;
    }

    /* Table orizontal rules */

    .orizontal-business{
        display: flex;
        padding: 20px;
        justify-content: space-between;
        gap: 10%;
    }
    .orizontal-business div:first-child{
        flex-basis: 65%;
    }
    .orizontal-business div:last-child{
        flex-basis: 25%;
    }
    .orizontal-business p{
        margin-top: 40px;
    }

/* Partner section rules */
    .partner-container{
        display: flex;
        justify-content: space-between;
        gap: 5%;
        margin: 100px 0;
    }
    .partner-container div:first-child{
        flex-basis: 60%;
    }
    .partner-container div img{
        width: 100%;
    }
    .partner-container div:last-child{
        flex-basis: 35%;
        margin-right:30px;
    }
    .partner-container h3{
        margin: 40px 0 10px 0;
    }
    .partner-container p{
        margin-bottom:40px;
    }


/* Dropbox business operations rules */

    .customer-flex-wrap{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 40px 0 150px 0;
        gap: 50px 30px;
    }
    .customer-flex-wrap .flex-column{
        flex-basis: calc(100%/3 - 30px);

    }
    .flex-column img{
        width: 100%;
    }
    .flex-column p{
        margin-top: 25px;
    }

/* Title and paragraph Dropbox rules */

    .customers-container h2{
        margin-bottom: 60px;
    }

/* Slideshow rules */
    .slideshow{
        display: flex;
        margin: 60px 0 0 0;
        height: 550px;
    }
    .left-col-slideshow, .right-col-slideshow{
        display: flex;
        flex-basis: calc(100%/3);
    }

    .left-col-slideshow div,.right-col-slideshow div{
        width:300px;
    }
    .left-col-slideshow div,.right-col-slideshow div{
        height: 275px;
        width: 275px;
    }
    .left-col-slideshow img, .right-col-slideshow img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 120px;
    }
    .slideshow  #designit{
        background-color: #a2d39b;
        border: 15px solid #a2d39b;
    }
    .slideshow  #uf{
        background-color: #0093ce;
    }
    .slideshow  #ASU{
        background-color: #61082b;
    }
    .slideshow  #Topps{
        background-color: #ff1c1c;
    }
    .slideshow  #world-bicycle{
        background-color: #d5001f;
    }
    .slideshow  #lonely-planet{
        background-color: #0d2481;
    }
    .slideshow  #hearst{
        background-color: #b4d0e7;
    }
    .slideshow  #clear-channel-outdoor{
        background-color: #ffd830;
    }

    /* Central column slideshow */

    .central-col-slideshow{
        flex-basis: calc(100% - 550px);
        padding: 50px;
    }
    .central-col-slideshow hr{
        margin: 50px 0;
        width: 25%;
        border: unset;
        border-bottom-width: 25%;
        border-bottom: 1px #b5aaa1 solid;
    }
    .central-col-slideshow img{
        width: 200px;
    }
    .central-col-slideshow p:last-child{
        margin-top: 40px;
    }

    

    /* Lightblue band under slideshow */

.lightblue-band{
    background-color: #b4d0e7;
    height: 300px;
}
.lightblue-cont{
    width: 55%;
    margin:0 auto;
    padding: 100px 0;
    display: flex;
    gap: 10%;
}
.lightblue-cont div:first-child{
    flex-basis: 60%;
}
.lightblue-cont div:last-child{
    flex-basis: 30%;
}

/* Faqs rules */

.faqs{
    width: 55%;
    margin: 100px auto;
}
.faqs h2{
    border-bottom: 1px solid #b5aaa1;
    padding-bottom: 60px;
}
.faqs div{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #b5aaa1;
    align-items: center;
}
.faqs i{
    margin-right: 40px;
}
.faqs div{
    padding: 40px 0;
}
.faqs p{
    display: none;
}

/* Footer rules */
footer{
    background-color: #000;
    color: #fff;
}
.foot-row{
    width: 65vw;
    padding: 80px 0 100px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.foot.col{
    flex-basis: 20% -15px;
}
footer li{
    padding: 5px 0;
}
.foot-col li:first-child{
    font-size: 1.4em;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 1px #b5aaa1 solid;
}
footer .lang{
    border-top: 2px solid #b5aaa1 ;
    width: fit-content;
    padding: 50px 0 30px 0;
}



/* DEBUG rules */


