/* General rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
}
li{
    list-style: none;
}


.block{
    display: block;
}

.grey-color{
    color: #b5aaa1;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

/* Hover rules */

/* Button rules */

.btn-blue{
background-color:#0061ff ;
color: #fff;
width: fit-content;
text-align: center;
}
.btn-small-padd{
    padding: 5px 10px;
}
.btn-big{
    width: 100%;
    padding: 10px 0;
}

/* Header rules */

header{
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: #fff;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header-left, .header-right{
    display: flex;
    gap: 10px;
    padding: 0 20px;
    align-items: center;
}
ul{
    display: flex;
    gap: 15px;
}
header li{
    padding: 0 10px;
}

/* jumbotron rules */

.jumbotron-container{
    background-color: #b4d0e7;
    height: 650px;
}
.jumbotron{
    padding-top: 150px;
    width: 65vw;
    margin: 0 auto;
}
h1{
    font-size: 5em;
    margin-bottom: 40px;
}
.jumbotron-col{
    display: flex;
    justify-content: space-between;
}
.jumbotron-left{
    flex-basis: 30%;
    gap: 20px;
}
.jumbotron-left i{
    margin-top: 40px;
}
.jumbotron div:nth-child(2){
    flex-basis: 70%;
}
.jumbotron img{
    width: 100%;
}

.jumbotron i{
    font-size: 3em;
}




/* main rules */



.main-container{
    width: 55%;
    margin: 150px auto;
}

/* Business plan rules */



.plan-container h2{
    font-size: 2.7em;
    margin-bottom: 40px;
    font-weight: 700;
}
.plan-container i{
    margin-right: 5px;
}
.billing{
    margin-right: 50px;
}
.table-business-plan{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.col{
    margin:50px 0;
    flex-basis: calc(100%/3);
}
.table-border-gray{
    border: 1px #b5aaa1 solid;
}

/* Table business rules */

    .col-title{
        border-bottom: 1px #b5aaa1 solid;
        padding: 10px;
        text-align: center;
    }
    .table-cont{
        width: 80%;
        margin: 0 auto;
        padding: 20px 0;
    }
    .table-border-gray h3{
        font-size: 1.5em;
        margin-bottom: 25px;
    }
    .table-cont .price{
        margin-bottom: 10px;
    }
    .table-cont .frequency{
        margin-bottom: 40px;
    }
    .cont-mini-table{
        margin: 30px -5px;
    }
    .mini-table{
        margin-bottom: 15px;
    }
    .table-cont > p{
        margin: 30px 0;
    }
    .table-cont hr{
        width: 25%;
        border:none;
        border-bottom: 2px #b5aaa1 solid;
    }
    .table-border-gray h5{
        margin-bottom: 20px;
        font-size: 1em;
    }
    .mini-table{
        display: flex;
    }

    /* Table orizontal rules */

    .orizontal-business{
        display: flex;
        padding: 20px;
        justify-content: space-between;
    }
    .orizontal-business div:first-child{
        flex-basis: 70%;
    }
    .orizontal-business div:last-child{
        flex-basis: 30%;
    }

/* Partner section rules */

/* Dropbox business operations rules */

/* Title and paragraph Dropbox rules */

/* Slideshow rules */

/* Faqs rules */

/* Footer rules */





/* DEBUG rules */


